<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProtectedConfigCreator.Properties.SavedSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProtectedConfigCreator.Properties.SavedSettings>
            <setting name="EnterprisePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CfFileDir" serializeAs="String">
                <value />
            </setting>
            <setting name="EpfSrcDir" serializeAs="String">
                <value />
            </setting>
            <setting name="V8UnpackPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EpfFileDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ModuleNames" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenceEditDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DBaseSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="DBaseProtectedSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="KeySeries" serializeAs="String">
                <value />
            </setting>
        </ProtectedConfigCreator.Properties.SavedSettings>
    </userSettings>
</configuration>